body{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
}
section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    background-color: #ed9c9c;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}

div#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(148, 43, 43); /* Fallback color */
    background-color: rgba(42, 164, 252, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #c22222;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #4b1919;
    width: 80%; /* Could be more or less, depending on screen size */
  }
